[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
tqdm = "*"
torch = ">=0.4.1"
torchvision = "*"
future = "*"
numpy = "*"
mxnet = ">=1.3.0"
brine = "*"
matplotlib = "*"
mypy = "*"
mypy-extensions = "*"
jupyter = "*"
ipython = "*"
birdseye = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.6"
